

.diyTable {
  width: 100%;

  thead {
    color: var(--themeBulue);
    background: var(--themeWithe);

    tr {
      //background: #db0303;
      //color: #fff;
    }
  }

  tbody {
    //color: #86d110;

  }
}

.active {
  background: var(--themeBulue);
  color: var(--themeWithe);
}
